<!DOCTYPE html>
<html>
    <head></head>
    <body>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'mainApp/style.css' %}">
        <div class="listBlock">
            <ul>
                <li>Books</li>
                <li>Bikes</li>
                <li>Cars</li>
            </ul>
        </div>
        <div class="listBlock">
            <ul>
                <li>Books</li>
                <li>Bikes</li>
                <li>Cars</li>
            </ul>
        </div>
        <div class="listBlock">
            <ul>
                <li>Books</li>
                <li>Bikes</li>
                <li>Cars</li>
            </ul>
        </div>
    </body>
</html>
